<!-- Update this template to start making the theme your own. -->
<div class="mx-auto text-center flex flex-col justify-center items-center
  h-screen" style="background-image: url('./site/themes/runway/img/runway.svg');background-repeat: no-repeat;background-position: bottom;background-size: 40%;">
  <div class="p-6">
    <h1 class="text-purple-700 text-6xl font-bold">Runway</h1>

    <p class="text-xl mt-4">Thanks for using Runway.</p>

    <p class="text-xl mt-4"><span class="text-pink-600 font-semibold">Statamic</span>, <span class="text-teal-600 font-semibold">Tailwind CSS</span>, and <span class="text-green-600 font-semibold">Vue.js</span> (with dynamic imports).</p>

  </div>

  {{ content }}
</div>
